.infographic-container{
    width:100%;
    height: 20rem;
}

.container-outer{
    display: flex;
    gap: 2rem;
}

.card-outer{
    width:100%;
    height: 100%;
}

.total-card-outer{
    display: flex;
    justify-content: center;
    align-items: center;
}