openapi: 3.0.0
info:
  version: '6.0.0'
  title: FDX V6.0.0 Core API
  description: Financial Data Exchange V6.0.0 Core API
  contact:
    name: Financial Data Exchange
    url: 'https://financialdataexchange.org/'
    email: fdxsupport@financialdataexchange.org
  license:
    name: FDX API License Agreement (11-13-2019)
    url: 'https://financialdataexchange.org/common/Uploaded%20files/Policies/FDX%20API%20License%20Agreement-(11-13-2019).pdf'
servers:
  - url: 'https://api.fi.com/fdx/v6'
    description: Financial Data Exchange V6.0.0 Core API
tags:
  - name: Account Information
    description: Search and view customer accounts
  - name: Account Statements
    description: Search and retrieve account statements
  - name: Account Transactions
    description: Search and view account transactions
  - name: Money Movement
    description: View account money movement details
  - name: Personal Information
    description: Search and view customer or customers
  - name: Reward Program Categories
    description: View categories of reward programs
  - name: Reward Program Information
    description: Search and view customer reward programs
paths:
  ############################################################
  #
  # Core paths
  #
  ############################################################

  /accounts:
    parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
    get:
      operationId: searchForAccounts
      tags:
        - Account Information
      summary: Search for accounts
      description: Query all information for a set of accounts provided in the payload
      parameters:
        - name: accountIds
          in: query
          description: Comma separated list of account ids
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: startTime
          in: query
          description: Start time for use in retrieval of transactions
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DateString'
        - name: endTime
          in: query
          description: End time for use in retrieval of transactions
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DateString'
        - $ref: '#/components/parameters/ResultTypeQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: >-
            Array of accounts (DepositAccount, LoanAccount, LineOfCreditAccount, InvestmentAccount,
            InsuranceAccount, AnnuityAccount, or CommercialAccount)
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
              examples:
                Search for accounts success response:
                  value:
                    page:
                      nextOffset: '2'
                      total: 3
                    links:
                      next:
                        href: '/accounts?offSet=2&limit=10'
                    accounts:
                      - accountCategory: DEPOSIT_ACCOUNT
                        accountId: '10001'
                        nickname: My Checking Acc XXXX3223
                        status: OPEN
                        balanceAsOf: '2017-11-05T13:15:30.751Z'
                        currentBalance: 13300.35
                        openingDayBalance: 500
                      - accountCategory: DEPOSIT_ACCOUNT
                        accountId: '10002'
                        nickname: My Checking Acc XXXX4443
                        status: OPEN
                        balanceAsOf: '2017-11-05T13:15:30.751Z'
                        currentBalance: 332.22
                        openingDayBalance: 100.0
                      - accountCategory: LOAN_ACCOUNT
                        accountId: '20001'
                        nickname: My Mortgage Acc XXXX9979
                        status: OPEN
                        balanceAsOf: '2017-11-05T13:15:30.751Z'
                        principalBalance: 133000.35
                        loanTerm: 30
                        nextPaymentDate: '2017-12-01'
                        nextPaymentAmount: 2333.32
        '400':
          description: Start or end date value is not in the ISO 8601 format
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Invalid start or end date:
                  value:
                    code: '702'
                    message: Invalid start or end date
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Invalid date range:
                  value:
                    code: '703'
                    message: Invalid date range
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: Data not found for request parameters
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Data not found for request parameters:
                  value:
                    code: '1107'
                    message: Data not found for request parameters
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'

  /accounts/{accountId}:
    parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
    get:
      operationId: getAccount
      tags:
        - Account Information
      description: Get a specific account
      summary: Get an account
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
      responses:
        '200':
          description: >-
            This can be one of LoanAccount, DepositAccount, LineOfCreditAccount,
            InvestmentAccount, InsuranceAccount, AnnuityAccount, or CommercialAccount
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountWithDetails'
              examples:
                Loan Account With Details:
                  value:
                    accountCategory: LOAN_ACCOUNT
                    accountId: '12345678'
                    accountType: LOAN
                    displayName: XXXXX4567
                    status: OPEN
                    description: 30 Year Mortgage
                    nickname: My Home Mortgage
                    currency:
                      currencyCode: USD
                    interestRate: 4
                    loanTerm: 0
                    totalNumberOfPayments: 0
        '404':
          description: Account with id not found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '701'
                    message: Account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'

  /accounts/{accountId}/asset-transfer-networks:
    parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
    get:
      operationId: getAccountAssetTransferNetworks
      tags:
        - Money Movement
      description: ...
      summary: Get asset transfer details for this account
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
      responses:
        '200':
          description: Information required to facilitate asset transfer from this account
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetTransferNetworkList'
              examples:
                ACATS:
                  value:
                    assetTransferNetworks:
                      - identifier: '121000358'
                        identifierType: "ACCOUNT_NUMBER"
                        institutionName: US Investments
                        institutionId: '1234567890'
                        type: 'US_ACATS'
                        jointAccount: true

  /accounts/{accountId}/contact:
    parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
    get:
      operationId: getAccountContact
      tags:
        - Personal Information
      description: Get contact information on the account
      summary: Get an account's contact information
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
      responses:
        '200':
          description: >-
            Details used to verify an account
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountContact'
        '404':
          description: Account with id not found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '701'
                    message: Account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'

  /accounts/{accountId}/payment-networks:
    parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
    get:
      operationId: getAccountPaymentNetworks
      tags:
        - Money Movement
      description: Get payment networks supported by the account
      summary: Get payment networks supported by the account
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Information required to execute a payment transaction against this account
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPaymentNetworkList'
              examples:
                Account Number:
                  value:
                    page:
                      totalElements: 1
                    paymentNetworks:
                      - bankId: "121000358"
                        identifier: "1234567890"
                        identifierType: "ACCOUNT_NUMBER"
                        type: "US_ACH"
                        transferIn: true
                        transferOut: true
                        transferLimits:
                          out:
                            day:
                              resetsOn: "2023-08-09T00:00:00.000Z"
                              transferMaxAmount: 10000.0
                              transferRemainingAmount: 8356.0
                              maxOccurrence: 6
                              remainingOccurrence: 5
                            month:
                              resetsOn: "2023-09-01T00:00:00.000Z"
                              transferMaxAmount: 50000.0
                              transferRemainingAmount: 35200.0
                            transaction:
                              transferMaxAmount: 5000.0
                              transferRemainingAmount: 4990.0
                Tokenized Account Number:
                  value:
                    page:
                      totalElements: 1
                    paymentNetworks:
                      - bankId: "121000358"
                        identifier: "987654321"
                        identifierType: "TOKENIZED_ACCOUNT_NUMBER"
                        type: "US_ACH"
                        transferIn: true
                        transferOut: true
                Multiple Networks:
                  value:
                    page:
                      totalElements: 2
                    paymentNetworks:
                      - bankId: "121000358"
                        identifier: "1234567890"
                        identifierType: "ACCOUNT_NUMBER"
                        type: "US_ACH"
                        transferIn: true
                        transferOut: true
                      - bankId: "026009593"
                        identifier: "1234567890"
                        identifierType: "ACCOUNT_NUMBER"
                        type: "US_FEDWIRE" # Real-time payments
                        transferIn: true
                        transferOut: true
        '404':
          description: Account with id not found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '701'
                    message: Account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Source account not found:
                  value:
                    code: '901'
                    message: Source account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Data not found for request parameters:
                  value:
                    code: '1107'
                    message: Data not found for request parameters
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'

  /accounts/{accountId}/statements:
    parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
    get:
      operationId: searchForAccountStatements
      tags:
        - Account Statements
      description: >-
        Get account statements. examples: GET
        /accounts/{accountId}/statements?startTime=value1&endTime=value2
      summary: Search for statements
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
        - $ref: '#/components/parameters/StartTimeQuery'
        - $ref: '#/components/parameters/EndTimeQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Paginated list of available statements
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statements'
              examples:
                Search for statements success response:
                  value:
                    page:
                      nextOffset: '2'
                      total: 3
                    links:
                      next:
                        href: '/accounts/1111/statements?offSet=2&limit=10'
                    statements:
                      - accountId: '10001'
                        statementId: '40004'
        '400':
          description: Start or end date value is not in the ISO 8601 format
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Invalid start or end date:
                  value:
                    code: '702'
                    message: Invalid start or end date
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Invalid date range:
                  value:
                    code: '703'
                    message: Invalid date range
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: Account with id not found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '701'
                    message: Account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Data not found for request parameters:
                  value:
                    code: '1107'
                    message: Data not found for request parameters
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'

  /accounts/{accountId}/statements/{statementId}:
    parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
    get:
      operationId: getAccountStatement
      tags:
        - Account Statements
      description: >-
        Gets an account statement image file. Use
        [HTTP Accept request-header](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html)
        to specify desired content types. See ContentTypes definition for typical values
      summary: Get an account statement
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
        - $ref: '#/components/parameters/StatementIdPath'
      responses:
        '200':
          description: An image of an account statement
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/pdf:
              schema:
                description: A pdf image of an account statement
                type: string
                format: binary
            image/gif:
              schema:
                description: A gif image of an account statement
                type: string
                format: binary
            image/jpeg:
              schema:
                description: A jpeg image of an account statement
                type: string
                format: binary
            image/tiff:
              schema:
                description: A tiff image of an account statement
                type: string
                format: binary
            image/png:
              schema:
                description: A png image of an account statement
                type: string
                format: binary
        '302':
          description: Statement is available at specified location. URL is returned via the `Location` HTTP header
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
        '400':
          description: Statement is processing and is not yet available
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Statement is Processing:
                  value:
                    code: '1300'
                    message: Statement is Processing
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: When account is present with no statements in it
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Statements not found for given Account:
                  value:
                    code: '1108'
                    message: Statements not found for given Account
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Statement id not found for Account:
                  value:
                    code: '1104'
                    message: Statement id not found for Account
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'

  /accounts/{accountId}/transaction-images/{imageId}:
    parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
    get:
      operationId: getAccountTransactionImages
      tags:
        - Account Transactions
      description: Get account transaction image
      summary: Get account transaction image
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
        - $ref: '#/components/parameters/ImageIdPath'
      responses:
        '200':
          description: An image of transaction (such as a scanned check)
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: Account or image with id not found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '701'
                    message: Account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Image Id not found for Transaction:
                  value:
                    code: '1103'
                    message: Image Id not found for Transaction
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '406':
          $ref: '#/components/responses/406'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'

  /accounts/{accountId}/transactions:
    parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
    get:
      operationId: searchForAccountTransactions
      tags:
        - Account Transactions
      description: >-
        Search for account transactions. examples:
        /accounts/{accountId}/transactions?startTime=value1&endTime=value2
      summary: Search for account transactions
      parameters:
        - $ref: '#/components/parameters/AccountIdPath'
        - $ref: '#/components/parameters/StartTimeQuery'
        - $ref: '#/components/parameters/EndTimeQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: >-
            Paginated collection of transactions, which can be one of
            DepositTransaction, LoanTransaction, LineOfCreditTransaction,
            InvestmentTransaction, InsuranceTransaction, or CommercialTransaction
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
              examples:
                Paginated Transactions:
                  value:
                    page:
                      nextOffset: '2'
                      total: 3
                    links:
                      next:
                        href: '/accounts/33333/transactions?offSet=2&limit=10'
                    transactions:
                      - accountCategory: DEPOSIT_ACCOUNT
                        accountId: '10001'
                        transactionId: '20002'
                        postedTimestamp: '2017-11-05T13:15:30.751Z'
                        description: Direct deposit from XYZ Corp
                        debitCreditMemo: CREDIT
                        amount: 1200.42
                        payee: XYZ Corp
                      - accountCategory: DEPOSIT_ACCOUNT
                        accountId: '10001'
                        transactionId: '20002'
                        postedTimestamp: '2017-11-05T13:15:31.751Z'
                        description: Withdrawal from ATM
                        debitCreditMemo: DEBIT
                        amount: 1200.42
                        payee: Account Owner
                Transaction with Rewards:
                  summary: Example of single transaction with associated reward
                  value:
                    transactions:
                      - accountCategory: LOC_ACCOUNT
                        accountId: '10001'
                        transactionId: '20003'
                        postedTimestamp: '2017-11-05T13:15:30.751Z'
                        description: Hotel Stay
                        debitCreditMemo: DEBIT
                        amount: 236
                        reward:
                          accrued: 472
                          adjusted: 0
                          categoryId: '293'
        '400':
          description: Start or end date value is not in the ISO 8601 format
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Invalid start or end date:
                  value:
                    code: '702'
                    message: Invalid start or end date
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Invalid date range:
                  value:
                    code: '703'
                    message: Invalid date range
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '404':
          description: Account with id not found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '701'
                    message: Account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Data not found for request parameters:
                  value:
                    code: '1107'
                    message: Data not found for request parameters
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'

  /reward-programs:
    parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
    get:
      operationId: searchRewardPrograms
      tags:
        - Reward Program Information
      description: Query all reward programs
      summary: Search reward programs
      parameters:
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Data describing reward programs associated with accounts
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardPrograms'
              examples:
                Multiple Reward Programs:
                  summary: Example showing multiple reward programs
                  value:
                    rewardPrograms:
                      - programName: Marriott Bonvoy
                        rewardProgramId: 4FRCCQvGW0GZEMtsOQWlkQ
                        programUrl: https://www.marriott.com/loyalty.mi
                        memberships:
                          - accountIds:
                              - af0f8e58-9649-4c29-bab2-0295d522cd6f
                              - e75e31eb-bf04-4d87-9f20-4554f63a639e
                            businessOrConsumer: CONSUMER
                            customerId: kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                            memberId: 5ee28848b4f242a6b7a41e0daa03a824
                            memberNumber: '1783949940'
                            memberTier: Gold
                            balances:
                              - name: Points
                                type: POINTS
                                balance: 900
                                accruedYtd: 1000
                                redeemedYtd: 200
                                qualifying: false
                              - name: Promotional
                                type: POINTS
                                balance: 900
                                accrued: 1000
                                redeemed: 200
                                qualifying: false
                      - programName: United MileagePlus®
                        rewardProgramId: GY4cHWCPxkqgkY61h4BKdQ
                        programUrl: https://www.united.com/en/us/fly/mileageplus.html
                        memberships:
                          - accountIds:
                              - b4ef4572-452d-41bd-9d2d-1b29dafe63f0
                            businessOrConsumer: BUSINESS
                            customerId: kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                            memberId: b6b319dd3e2c4592847ad6ee32d518bc
                            memberNumber: '9394970669'
                            balances:
                              - name: Miles
                                type: MILES
                                balance: 900
                                accrued: 1000
                                redeemed: 200
                                qualifying: false
                      - programName: Starbucks Rewards
                        rewardProgramId: iqOtPUEYb0Go6SCL8As4fQ
                        programUrl: https://www.starbucks.com/rewards
                        memberships:
                          - accountIds:
                              - 89cf3262-ff38-4f6a-afbc-aafc50cac751
                            businessOrConsumer: CONSUMER
                            customerId: kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                            memberId: 95c1aeacd85e4783950a9c2d6e76efa9
                            memberNumber: '7417973194'
                            balances:
                              - name: Stars
                                type: POINTS
                                balance: 900
                                accrued: 1000
                                redeemed: 200
                                qualifying: false

  /reward-programs/{rewardProgramId}:
    parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
    get:
      operationId: getRewardProgram
      tags:
        - Reward Program Information
      description: Get a specific reward program
      summary: Get reward program
      parameters:
        - $ref: '#/components/parameters/RewardProgramIdPath'
      responses:
        '200':
          description: Data describing reward programs associated with accounts
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardProgram'
              examples:
                Single Reward Program:
                  value:
                    programName: Discover Cashback Bonus
                    rewardProgramId: ywX9ME0FXUa6Mtj0xkOgtA
                    programUrl: https://www.discover.com/credit-cards/cashback-bonus/
                    memberships:
                      - accountIds:
                          - af0f8e58-9649-4c29-bab2-0295d522cd6f
                          - e75e31eb-bf04-4d87-9f20-4554f63a639e
                        businessOrConsumer: CONSUMER
                        customerId: kBA5C3d7cBK9DuRngsQRwt6Ydo80bjYDR7n4O5yCKshizuS7hOZJ4cAevBne
                        memberId: b0a853a278804e1694d3104709cbfb58
                        memberNumber: '6137299224'
                        memberTier: Gold
                        balances:
                          - name: Cashback
                            type: CASHBACK
                            balance: 101.95
                            accruedYtd: 4500.1
                            redeemedYtd: 234.45
                            qualifying: false
                          - name: Cashback Match
                            type: CASHBACK
                            balance: 401.95
                            accruedYtd: 500.1
                            redeemedYtd: 134.45
                            qualifying: false
        '404':
          description: Reward program Id not found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Reward program Id not found:
                  value:
                    code: '1101'
                    message: Reward program Id not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'

  /reward-programs/{rewardProgramId}/categories:
    parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
    get:
      operationId: getRewardProgramCategories
      tags:
        - Reward Program Categories
      description: Get reward categories
      summary: Get reward categories
      parameters:
        - $ref: '#/components/parameters/RewardProgramIdPath'
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Data describing a reward program's categories
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardCategories'
              examples:
                Multiple Reward Categories:
                  summary: Example response with multiple reward categories
                  value:
                    categories:
                      - categoryName: Amusement Park
                        categoryId: 100
                        multiplier: 1
                        description: >-
                          The Amusement Park category, including zoos, circuses and aquariums, covers
                          establishments that operate parks or carnivals and offer mechanical rides
                          and games and/or live animal shows.
                      - categoryName: Dining/Restaurant
                        categoryId: 101
                        multiplier: 2
                        description: >-
                          Merchants in the Dining/Restaurant category range from fast food restaurants
                          to fine dining establishments. They fall into the Dining category if they
                          primarily prepare food and drinks for immediate consumption on the premises
                          or for take-out. Dining merchants include bars, cocktail lounges, nightclubs,
                          taverns and fast-food restaurants. Some merchants that sell food and drinks
                          are located within larger establishments that sell other goods and services
                          and may not be not included in this category. For example a department store
                          or hotel restaurant, theme park cafes or discount store food counter would
                          not be categorized under Dining.
                      - categoryName: Entertainment
                        categoryId: 102
                        multiplier: 2
                        description: >-
                          Entertainment includes purchases made at sports promoters, movie theaters,
                          theatrical promoters, amusement parks, tourist attractions, record stores
                          and video rentals.
                      - categoryName: Hotels
                        categoryId: 103
                        multiplier: 5
                        description: >-
                          Hotels include businesses that provide sleeping or meeting room accommodations.
                          Some goods and services that appear on a hotel bill are included. Often
                          restaurants in hotels are categorized as a hotel purchase.
        '404':
          description: Request is invalid
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Reward program Id not found:
                  value:
                    code: '1101'
                    message: Reward program Id not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Categories not found for the reward program:
                  value:
                    code: '1102'
                    message: Categories not found for the reward program
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'

components:

  securitySchemes:
    ############################################################
    #
    # Security Schemes
    #
    ############################################################

    OAuthFapi1Advanced:
      type: oauth2
      description: >-
        This authorization protocol uses FAPI Security Profile 1.0 Part Two — Advanced.
        To be used with the FDX API customer data domains. In addition, these operations employ the FDX
        User Consent framework for permissioned data sharing.

        Client must comply with
        [5.2.3 Confidential client](https://openid.net/specs/openid-financial-api-part-2-1_0.html#confidential-client).
        Authorization server must comply with the
        [5.2.2 Authorization server](https://openid.net/specs/openid-financial-api-part-2-1_0.html#authorization-server).

        Client, authorization server and resource server requirements described in full by:
          * [FAPI Security Profile 1.0 Part Two — Advanced](https://openid.net/specs/openid-financial-api-part-2-1_0.html)
          * FDX API Security Model specification published with the FDX API

        Consent User Experience and Issuance described by:
          * FDX User Experience Guidelines published with the FDX API
          * Consent API operations and data structures published within the FDX API
      flows:
        authorizationCode:
          authorizationUrl: 'https://auth.fi.com/fdx/v6/par'
          tokenUrl: 'https://auth.fi.com/fdx/v6/token'
          scopes:
            fdx:accountbasic:read: Scope authorizing retrieval of account display name, masked account number, type, description
            fdx:accountdetailed:read: Scope authorizing retrieval of account information. Includes data from "Basic" + account balances, credit limits, due dates, interest rates, rewards balances, recurrences
            fdx:accountpayments:read: Scope authorizing retrieval of full account number and payment network routing number
            fdx:customercontact:read: Scope authorizing retrieval of name, email, address, phone on file with this institution. Applies to both user and other account holders
            fdx:customerpersonal:read: Scope authorizing retrieval of name, email, address, phone, DoB, tax ID, SSN on file with this institution
            fdx:investments:read: Scope authorizing retrieval of details about individual underlying investment positions
            fdx:transactions:read: Scope authorizing retrieval of historical and current transactions, transaction types, amounts, dates and descriptions
            fdx:statements:read: Scope authorizing retrieval of periodic PDF statement showing personal information, account and transaction details. May contain PII such as name, address
            offline_access: Scope authorizing the client to refresh `access_tokens` without user present
            openid: Scope authorizing access to the user's identity details

  parameters:
    ############################################################
    #
    # Core request parameters
    #
    ############################################################

    AccountIdPath:
      name: accountId
      in: path
      description: Account Identifier
      required: true
      schema:
        type: string

    EndTimeQuery:
      name: endTime
      in: query
      description: End time for use in retrieval of elements (ISO 8601)
      schema:
        $ref: '#/components/schemas/DateString'

    ImageIdPath:
      name: imageId
      in: path
      description: Image Identifier
      required: true
      schema:
        type: string

    RewardProgramIdPath:
      name: rewardProgramId
      in: path
      description: Reward Program Identifier
      required: true
      schema:
        type: string

    StartTimeQuery:
      name: startTime
      in: query
      description: Start time for use in retrieval of elements (ISO 8601)
      schema:
        $ref: '#/components/schemas/DateString'

    StatementIdPath:
      name: statementId
      in: path
      description: Statement Identifier
      required: true
      schema:
        type: string

    ############################################################
    #
    # Shared request parameters (copied from fdxapi.components.yaml)
    #
    ############################################################

    FapiInteractionIdHeader:
      name: x-fapi-interaction-id
      in: header
      description: >-
        Unique identifier for this interaction as an
        [IETF RFC 4122](https://datatracker.ietf.org/doc/html/rfc4122) UUID.
        Used across all FDX API requests and responses
      schema:
        type: string
      required: true
      example: c770aef3-6784-41f7-8e0e-ff5f97bddb3a

    FdxApiActorTypeHeader:
      name: FDX-API-Actor-Type
      in: header
      description: Identifies whether the customer is present (USER) or it is a BATCH operation
      schema:
        $ref: '#/components/schemas/ActorType'
      example: BATCH

    LimitQuery:
      name: limit
      in: query
      description: >-
        Number of elements that the consumer wishes to receive.
        Providers should implement reasonable default and maximum values
      schema:
        type: integer

    OffsetQuery:
      name: offset
      in: query
      description: >-
        Opaque cursor used by the provider to send the next set of records
      schema:
        type: string

    ResultTypeQuery:
      name: resultType
      in: query
      description: >-
        Flag to indicate if you want a lightweight array of metadata (AccountDescriptor
        or Tax or Operations) or full item details (Account or a Tax subclass or
        Availability details). If set to 'lightweight', should only return the
        fields associated with the metadata entity.
        This field is not required, defaults to lightweight
      required: false
      schema:
        $ref: '#/components/schemas/ResultType'

  headers:
    ############################################################
    #
    # Standard response headers (copied from fdxapi.components.yaml)
    #
    ############################################################

    x-fapi-interaction-id:
      description: Unique identifier for this interaction
      schema:
        type: string
      example: rrt-970585410023330903-b-gce-821-23397-1

  responses:
    ############################################################
    #
    # Standard error responses (copied from fdxapi.components.yaml)
    #
    ############################################################

    '406':
      description: Content Type not Supported
      headers:
        x-fapi-interaction-id:
          $ref: '#/components/headers/x-fapi-interaction-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            Content Type not Supported:
              value:
                code: '1203'
                message: Content Type not Supported
                debugMessage: Provider custom developer-level error details for troubleshooting

    '500':
      description: Catch all exception where request was not processed due to an internal outage/issue.
        Consider other more specific errors before using this error
      headers:
        x-fapi-interaction-id:
          $ref: '#/components/headers/x-fapi-interaction-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            Internal server error:
              value:
                code: '500'
                message: Internal server error
                debugMessage: Provider custom developer-level error details for troubleshooting

    '501':
      description: Error when FdxVersion in Header is not one of those implemented at backend
      headers:
        x-fapi-interaction-id:
          $ref: '#/components/headers/x-fapi-interaction-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            FdxVersion not supported or not implemented:
              value:
                code: '1106'
                message: FdxVersion not supported or not implemented
                debugMessage: Provider custom developer-level error details for troubleshooting

    '503':
      description: System is down for maintenance
      headers:
        x-fapi-interaction-id:
          $ref: '#/components/headers/x-fapi-interaction-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            Scheduled Maintenance:
              value:
                code: '503'
                message: Scheduled Maintenance
                debugMessage: Provider custom developer-level error details for troubleshooting

  schemas:
    ############################################################
    #
    # Core data entities
    #
    ############################################################

    ActorType:
      title: FDX API Actor Type
      description: >-
        Indicates whether a customer is present and has requested the operation (USER),
        or if a batch job has requested the operation (BATCH)
      type: string
      enum:
        - BATCH
        - USER
    DateString:
      title: Date String
      description: >-
        ISO 8601 full-date in format 'YYYY-MM-DD' according
        to [IETF RFC3339](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14)
      type: string
      format: date
      maxLength: 10
      # examples:
      #   - '2021-07-15'
    ResultType:
      title: Result Type
      description: >-
        Flag to indicate if you want a lightweight array of metadata (AccountDescriptor
        or Tax or Operations) or full item details (Account or a Tax subclass or
        Availability details). If set to 'lightweight', should only return the
        fields associated with the metadata entity.
      type: string
      enum:
        - details
        - lightweight
      default: lightweight
    Contacts:
      title: Contacts entity
      description: Contains all contact details for individual or business
      type: object
      properties:
        emails:
          type: array
          items:
            type: string
          description: Array of the contact email addresses
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/DeliveryAddress'
          description: Array of the contact physical addresses
        telephones:
          type: array
          items:
            $ref: '#/components/schemas/TelephoneNumber'
          description: Array of the contact telephone numbers

    TelephoneNumber:
      title: Telephone Number
      description: Standard for international phone numbers
      type: object
      properties:
        type:
          $ref: '#/components/schemas/TelephoneNumberType'
          # description: 'Type of phone number: HOME, BUSINESS, CELL, FAX'
        country:
          type: string
          maxLength: 3
          description: Country calling codes defined by ITU-T recommendations E.123 and E.164
        number:
          type: string
          maxLength: 15
          pattern: '\d+'
          description: Telephone subscriber number defined by ITU-T recommendation E.164
    TelephoneNumberType:
      title: Telephone Number Type
      description: Purpose or type of telephone number
      type: string
      enum:
        - BUSINESS
        - CELL
        - FAX
        - HOME
        -
    DeliveryAddress:
      title: Delivery Address
      description: A delivery address and its location type
      type: object
      allOf:
        - $ref: '#/components/schemas/Address'
        - type: object
          properties:
            type:
              $ref: '#/components/schemas/DeliveryAddressType'
              # description: Type of address location. One of BUSINESS, DELIVERY, HOME, MAILING

    DeliveryAddressType:
      title: Delivery Address Type
      description: The location type of an address
      type: string
      enum:
        - BUSINESS
        - DELIVERY
        - HOME
        - MAILING
        -
    Address:
      title: Address
      description: U.S. domestic address or a foreign address with country other than 'US'
      type: object
      properties:
        line1:
          $ref: '#/components/schemas/String64'
          # description: Address line 1
        line2:
          $ref: '#/components/schemas/String64'
          # description: Address line 2
        line3:
          $ref: '#/components/schemas/String64'
          # description: Address line 3
        city:
          $ref: '#/components/schemas/String64'
          # description: City
        region:
          $ref: '#/components/schemas/String64'
          # description: State, Province, Territory, Canton or Prefecture.
          #   From [Universal Postal Union](https://www.upu.int/en/Postal-Solutions/Programmes-Services/Addressing-Solutions#addressing-s42-standard)
          #   as of 2-26-2020, [S42 International Address Standards](https://www.upu.int/UPU/media/upu/documents/PostCode/S42_International-Addressing-Standards.pdf).
          #   For U.S. addresses can be 2-character code from '#/components/schemas/StateCode'
        postalCode:
          type: string
          maxLength: 16
          description: Postal code
        country:
          $ref: '#/components/schemas/Iso3166CountryCode'
          # description: Country code
    Iso3166CountryCode:
      title: ISO 3166 Country Code
      description: >-
        ISO 3166-1 alpha-2 codes as of April 5, 2023, from officially assigned Country Codes on
        [ISO Online Browsing Platform](https://www.iso.org/obp/ui/). Change log is at
        [ISO 3166 Maintenance Agency](https://www.iso.org/fr/committee/48750.html?t=3V3rukDb61p05Wd6ojyTRvE0S3Yg_fZgUjrLjHWcd9-mDmTKHOGjbX3nEJ3SqHar&view=documents#section-isodocuments-top)
      type: string
      enum:
        - AD
        - AE
        - AF
        - AG
        - AI
        - AL
        - AM
        - AO
        - AQ
        - AR
        - AS
        - AT
        - AU
        - AW
        - AX
        - AZ
        - BA
        - BB
        - BD
        - BE
        - BF
        - BG
        - BH
        - BI
        - BJ
        - BL
        - BM
        - BN
        - BO
        - BQ
        - BR
        - BS
        - BT
        - BV
        - BW
        - BY
        - BZ
        - CA
        - CC
        - CD
        - CF
        - CG
        - CH
        - CI
        - CK
        - CL
        - CM
        - CN
        - CO
        - CR
        - CU
        - CV
        - CW
        - CX
        - CY
        - CZ
        - DE
        - DJ
        - DK
        - DM
        - DO
        - DZ
        - EC
        - EE
        - EG
        - EH
        - ER
        - ES
        - ET
        - FI
        - FJ
        - FK
        - FM
        - FO
        - FR
        - GA
        - GB
        - GD
        - GE
        - GF
        - GG
        - GH
        - GI
        - GL
        - GM
        - GN
        - GP
        - GQ
        - GR
        - GS
        - GT
        - GU
        - GW
        - GY
        - HK
        - HM
        - HN
        - HR
        - HT
        - HU
        - ID
        - IE
        - IL
        - IM
        - IN
        - IO
        - IQ
        - IR
        - IS
        - IT
        - JE
        - JM
        - JO
        - JP
        - KE
        - KG
        - KH
        - KI
        - KM
        - KN
        - KP
        - KR
        - KW
        - KY
        - KZ
        - LA
        - LB
        - LC
        - LI
        - LK
        - LR
        - LS
        - LT
        - LU
        - LV
        - LY
        - MA
        - MC
        - MD
        - ME
        - MF
        - MG
        - MH
        - MK
        - ML
        - MM
        - MN
        - MO
        - MP
        - MQ
        - MR
        - MS
        - MT
        - MU
        - MV
        - MW
        - MX
        - MY
        - MZ
        - NA
        - NC
        - NE
        - NF
        - NG
        - NI
        - NL
        - 'NO'
        - NP
        - NR
        - NU
        - NZ
        - OM
        - PA
        - PE
        - PF
        - PG
        - PH
        - PK
        - PL
        - PM
        - PN
        - PR
        - PS
        - PT
        - PW
        - PY
        - QA
        - RE
        - RO
        - RS
        - RU
        - RW
        - SA
        - SB
        - SC
        - SD
        - SE
        - SG
        - SH
        - SI
        - SJ
        - SK
        - SL
        - SM
        - SN
        - SO
        - SR
        - SS
        - ST
        - SV
        - SX
        - SY
        - SZ
        - TC
        - TD
        - TF
        - TG
        - TH
        - TJ
        - TK
        - TL
        - TM
        - TN
        - TO
        - TR
        - TT
        - TV
        - TW
        - TZ
        - UA
        - UG
        - UM
        - US
        - UY
        - UZ
        - VA
        - VC
        - VE
        - VG
        - VI
        - VN
        - VU
        - WF
        - WS
        - YE
        - YT
        - ZA
        - ZM
        - ZW

    String64:
      title: String 64
      description: String of maximum length 64
      type: string
      maxLength: 64

    Error:
      title: Error
      description: >-
        An error entity which can be used at the API level for error responses
        or at the account level to indicate a problem specific to a particular
        account
      type: object
      properties:
        code:
          type: string
          description: >-
            Long term persistent identifier which can be used to trace error
            condition back to log information
        message:
          type: string
          description: >-
            End user displayable information which might help the customer
            diagnose an error
        debugMessage:
          type: string
          description: >-
            Message used to debug the root cause of the error.
            Contents should not be used in consumer's business logic.
            Can change at any time and should only be used for consumer
            to communicate with the data provider about an issue.
            Provider can include an error GUID in message for their use.
    Identifier:
      title: Identifier
      description: Value for a unique identifier
      type: string
      maxLength: 256
    Timestamp:
      title: Timestamp
      # description: >-
      #   ISO 8601 date-time in format 'YYYY-MM-DDThh:mm:ss.nnn[Z|[+|-]hh:mm]' according to
      #   [IETF RFC3339](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14)
      type: string
      format: date-time
      # examples:
      #   - '2021-07-15T14:46:41.375Z'
    Account:
      title: Account entity
      description: An abstract account entity that concrete account entities extend
      type: object
      allOf:
        - $ref: '#/components/schemas/AccountDescriptor'
        - type: object
          properties:
            parentAccountId:
              # description: >-
              #   Long-term persistent identity of the parent account. This is
              #   used to group accounts
              $ref: '#/components/schemas/Identifier'
            lineOfBusiness:
              description: >-
                The line of business, such as consumer, consumer joint, small
                business, corporate, etc.
              type: string
            routingTransitNumber:
              type: string
              description: >-
                Routing transit number (RTN) associated with
                account number at owning institution
            balanceType:
              $ref: '#/components/schemas/BalanceType'
              # description: >-
              #   ASSET (positive transaction amount increases balance), LIABILITY
              #   (positive transaction amount decreases balance)
            contact:
              $ref: '#/components/schemas/AccountContact'
              # description: Contact information associated with this account
            interestRate:
              type: number
              description: Interest Rate of Account
            interestRateType:
              $ref: '#/components/schemas/InterestRateType'
              # description: FIXED or VARIABLE
            interestRateAsOf:
              $ref: '#/components/schemas/Timestamp'
              # description: Date of account's interest rate
            priorInterestRate:
              type: number
              description: Previous Interest Rate of Account
            interestRateIndex:
              type: string
              description: >-
                Variable rate index name such as
                EONIA, EURIBOR, EURREPO, FEFUND, LIBOR, PRIME, SOFR, SONIA, etc.
            earlyPenaltyFlag:
              type: boolean
              description: Flag that indicates if there is an early penalty for withdrawal/payoff
            transferIn:
              type: boolean
              description: Account is eligible for incoming transfers
            transferOut:
              type: boolean
              description: Account is eligible for outgoing transfers
            billPayStatus:
              $ref: '#/components/schemas/AccountBillPayStatus'
              # description: Defines account's ability to participate in bill payments
            micrNumber:
              $ref: '#/components/schemas/String64'
              # description: MICR Number
            lastActivityDate:
              $ref: '#/components/schemas/DateString'
              # description: Date that last transaction occurred on account
            rewardProgramId:
              $ref: '#/components/schemas/Identifier'
              # description: Long-term persistent identity of rewards program associated with this account
            transactionsIncluded:
              type: boolean
              description: >-
                Default is false. If present and true, a call to retrieve
                transactions will not return any further details about this
                account. This is an optimization that allows an FDX API server
                to return transactions and account details in a single call
            domicile:
              $ref: '#/components/schemas/Domicile'
              # description: The country and region of the account's legal jurisdiction
    Domicile:
      title: Domicile entity
      description: Country and region of country for the legal jurisdiction of an entity
      type: object
      properties:
        region:
          $ref: '#/components/schemas/String64'
          # description: Country sub-division; state or province or territory
        country:
          $ref: '#/components/schemas/Iso3166CountryCode'
          # description: ISO 3166 Country Code

    AccountContact:
      title: Account Contact entity
      description: Contact information for the account
      type: object
      allOf:
        - $ref: '#/components/schemas/Contacts'
        - type: object
          properties:
            holders:
              type: array
              items:
                $ref: '#/components/schemas/AccountHolder'
              description: Owners of the account

    AccountDescriptor:
      title: Account Descriptor entity
      description: This descriptor provides minimal information about the account for use in lightweight arrays
      type: object
      required:
        - accountCategory
      discriminator:
        propertyName: accountCategory
      properties:
        accountCategory:
          $ref: '#/components/schemas/AccountCategory'
          # description: The entity type of this Account
        accountId:
          # description: >-
          #   Long-term persistent identity of the account, though not an account number.
          #   This identity must be unique to the owning institution
          $ref: '#/components/schemas/Identifier'
        error:
          # description: Present if an error was encountered while retrieving this account
          $ref: '#/components/schemas/Error'
        accountType:
          $ref: '#/components/schemas/AccountType'
          # description: Account type
        accountNumber:
          description: >-
            Full account number for the end user's handle for
            the account at the owning institution
          type: string
        accountNumberDisplay:
          description: >-
            Account display number for the end user's handle at the owning
            institution. This is to be displayed by the Interface Provider
          type: string
        productName:
          type: string
          description: Marketed product name for this account. Used in UIs to assist in account selection
        nickname:
          description: Name given by the user. Used in UIs to assist in account selection
          type: string
        status:
          # description: >-
          #   Account status. Suggested values are: OPEN, CLOSED, PENDINGOPEN, PENDINGCLOSE,
          #   PAID, DELINQUENT, NEGATIVECURRENTBALANCE, RESTRICTED
          $ref: '#/components/schemas/AccountStatus'
        description:
          type: string
          description: Description of account
        accountOpenDate:
          $ref: '#/components/schemas/DateString'
          # description: Account opening date
        accountCloseDate:
          $ref: '#/components/schemas/DateString'
          # description: Account closing date
        currency:
          $ref: '#/components/schemas/Currency'
          # description: Account currency
        fiAttributes:
          type: array
          description: Array of Financial institution-specific attributes
          items:
            $ref: '#/components/schemas/FiAttribute'

    FiAttribute:
      title: FI Attribute entity
      description: Financial Institution provider-specific attribute
      type: object
      properties:
        name:
          type: string
          description: Name of attribute
        value:
          type: string
          description: Value of attribute

    AccountType:
      title: Account Type
      description: >-
        The type of an account.

          | Value | Description |
          |-----|-----|
          | 401A | An employer-sponsored money-purchase retirement plan that allows dollar or percentage-based contributions from the employer, the employee, or both |
          | 401K | An employer-sponsored defined-contribution pension account defined in subsection 401(k) of the Internal Revenue Code |
          | 403B | A U.S. tax-advantaged retirement savings plan available for public education organizations, some non-profit employers (only Internal Revenue Code 501(c)(3) organizations), cooperative hospital service organizations, and self-employed ministers in the United States |
          | 529 | A tax-advantaged savings plan designed to help pay for education |
          | ANNUITY | A form of insurance or investment entitling the investor to a series of annual sums |
          | AUTOLOAN | A type of loan used to finance a car purchase |
          | BROKERAGEPRODUCT | Investment management offered by a licensed brokerage firm that places trades on behalf of the customer, utilizing any number of investment options |
          | CD | A certificate of deposit (CD) is a product offered by banks and credit unions that provides an interest rate premium in exchange for the customer agreeing to leave a lump-sum deposit untouched for a predetermined period of time |
          | CHARGE | An account to which goods and services may be charged on credit |
          | CHECKING | A deposit account held at a financial institution that allows withdrawals and deposits |
          | COMMERCIALDEPOSIT | Deposit Account for Commercial Customers e.g. Business Trust Account |
          | COMMERCIALINVESTMENT | Investment Account for Commercial Customers. e.g. Commercial Brokerage Account |
          | COMMERCIALINEOFCREDIT | A preset borrowing limit that can be used at any time |
          | COMMERCIALLOAN | A preset borrowing limit that can be used at any time |
          | COVERDELL | A trust or custodial account set up in the United States solely for paying qualified education expenses for the designated beneficiary of the account |
          | CREDITCARD | Allows cardholders to borrow funds with which to pay for goods and services with merchants that accept cards for payment |
          | DEFERREDPROFITSHARINGPLAN | A deferred profit sharing plan (DPSP) is an employer-sponsored profit sharing plan that is registered with a government agency (such as the Canada Revenue Agency). |
          | DEFINEDBENEFIT | An employer-sponsored retirement plan where employee benefits are computed using a formula that considers several factors, such as length of employment and salary history |
          | DIGITALASSET | Encompasses cryptocurrencies as well as other digital assets such as NFTs. |
          | ESCROW | A contractual arrangement in which a third party (the stakeholder or escrow agent) receives and disburses money or property for the primary transacting parties, with the disbursement dependent on conditions agreed to by the transacting parties |
          | ESOP | An employee stock ownership plan (ESOP) is an employee benefit plan that gives workers ownership interest in the company |
          | FIXEDANNUITY | A type of insurance contract that promises to pay the buyer a specific, guaranteed interest rate on their contributions to the account |
          | GUARDIAN | An account of a child in the parent's name, with legal title to the assets in the account, as well as all capital gains and tax liabilities produced from the account belonging to the parent |
          | HOMEEQUITYLOAN | A type of loan in which the borrower uses the equity of his or her home as collateral |
          | HOMELINEOFCREDIT | A loan in which the lender agrees to lend a maximum amount within an agreed period, where the collateral is the borrower's equity in their house |
          | INDIVIDUALPENSIONPLAN | An Individual Pension Plan (IPP) is an employer-sponsored, defined benefit pension plan that can be set up by and for a single person. |
          | INSTALLMENT | A type of agreement or contract involving a loan that is repaid over time with a set number of scheduled payments |
          | INSTITUTIONALTRUST | |
          | INVESTMENTACCOUNT | A standard investment account that is not registered. |
          | IRA | An individual retirement account (IRA) is a tax-advantaged account that individuals use to save and invest for retirement |
          | KEOGH | A tax-deferred pension plan available to self-employed individuals or unincorporated businesses for retirement purposes |
          | LIFEINCOMEFUND | A Life Income Fund (LIF) is a type of registered retirement income fund (RRIF) that can be used to hold locked-in pension funds as well as other assets for an eventual payout as retirement income. |
          | LINEOFCREDIT | A credit facility extended by a bank or other financial institution to a government, business or individual customer that enables the customer to draw on the facility when the customer needs funds |
          | LOAN | The lending of money by one or more individuals, organizations, or other entities to other individuals, organizations etc |
          | LOCKEDINRETIREMENTACCOUNT | A Locked-in Retirement Account (LIRA) is a pension savings account that holds funds that cannot be withdrawn until retirement. |
          | LOCKEDINRETIREMENTINCOMEFUND| A Locked-in Retirement Income Fund (LRIF) is a locked-in account which has been created with funds that originated with a registered pension plan (RPP). |
          | LOCKEDINRETIREMENTSAVINGSPLAN | A Locked-in Retirement Savings plan (LRSP) is a pension savings account that holds funds that cannot be withdrawn until retirement (similar to LIRA)  |
          | LONGTERMDISABILITY | Insurance that replaces a portion of the policyholder's income due to a disability for an extended period of time, usually more than a year |
          | MILITARYLOAN | |
          | MONEYMARKET | A deposit account that pays interest based on current interest rates in the money markets |
          | MORTGAGE | A type of loan you can use to buy or refinance a home |
          | NONQUALIFEDPLAN | A type of tax-deferred employer-sponsored retirement plan that falls outside of ERISA guidelines |
          | OTHERDEPOSIT | Use when none of the listed enums apply |
          | OTHERINVESTMENT | Use when none of the listed enums apply |
          | PERSONALLOAN | A type of debt that is not protected by a guarantor, or collateralized by a lien on specific assets of the borrower |
          | POOLEDREGISTEREDPENSIONPLAN | A Pooled Registered Pension Plan (PRPP) is a type of pension plan that is similar to a defined contribution plan; however, employer contributions are not mandatory. |
          | PRESCRIBEDREGISTEREDRETIREMENTINCOMEFUND | A Prescribed Registered Retirement Income Fund (PRRIF) is a personal retirement income fund that is governed by the federal Income Tax Act (Canada). |
          | REGISTEREDDISABILITYSAVINGSPLAN | A Registered Disability Savings Plan (RDSP) is a savings plan intended to help parents and others save for the long term financial security of a person who is eligible for the disability tax credit (DTC). |
          | REGISTEREDEDUCATIONSAVINGSPLAN | A Registered Education Savings Plan (RESP) is a special savings account for parents/custodians/others who want to save for their child's education after high school and is registered with the Canadian federal government.|
          | REGISTEREDPENSIONPLAN | A Registered Pension Plan (RPP) is a pension plan that has been set up by an employer, and registered by the Canadian federal government.|
          | REGISTEREDRETIREMENTINCOMEFUND | A Registered Retirement Income Fund (RRIF) is an arrangement between an individual and a carrier (an insurance company, a trust company or a bank) that is registered with the Canadian federal government.|
          | REGISTEREDRETIREMENTSAVINGSPLAN | A Registered Retirement Savings Plan (RRSP) is a savings plan, registered with the Canadian federal government that you can contribute to for retirement purposes. |
          | RESTRICTEDLIFEINCOMEFUND| Restricted Life Income Fund (RLIF) is a retirement option that operates like a LIF. The RLIF provides a one-time 50% unlocking option. |
          | RESTRICTEDLOCKEDINSAVINGSPLAN| A Restricted Locked-In Savings Plan (RLSP) is an investment account that can only be established as a result of a transfer of funds from an RLIF |
          | ROLLOVER | |
          | ROTH | An individual retirement account that offers tax-free growth and tax-free withdrawals in retirement |
          | SARSEP | A simplified employee pension (SEP) plan set up before 1997 that includes a salary reduction arrangement |
          | SAVINGS | An interest-bearing deposit account held at a bank or other financial institution |
          | SMBLOAN | |
          | SHORTTERMDISABILITY | Insurance that replaces a portion of the policyholder's income due to a disability for a short period of time, usually less than a year |
          | SPECIFIEDPENSIONPLAN | A Specified Pension Plan (SPP) is a pension plan or similar arrangement that has been prescribed under the Income Tax Regulations as a "specified pension plan" for purposes of the Income Tax Act.|
          | STUDENTLOAN | A type of loan designed to help students pay for post-secondary education and the associated fees, such as tuition, books and supplies, and living expenses |
          | TAXABLE | |
          | TAXFREESAVINGSACCOUNT | A Tax-Free Savings Account (TFSA) is a way for over the age of 18 to set money aside, tax free, throughout their lifetime. |
          | TDA | |
          | TERM | Life insurance that provides coverage at a fixed rate of payments for a limited period of time |
          | TRUST | A type of financial account that is opened by an individual and managed by a designated trustee for the benefit of a third party in accordance with agreed-upon terms |
          | UGMA | |
          | UNIVERSALLIFE | A type of a cash value life insurance where the excess of premium payments above the current cost of insurance is credited to the cash value of the policy, which in turn is credited each month with interest |
          | UTMA | |
          | VARIABLEANNUITY | A type of insurance contract that promises to pay back the buyer based on the performance of an underlying portfolio of mutual funds selected by the buyer |
          | WHOLELIFE | Life insurance which is guaranteed to remain in force for the insured's entire lifetime, provided required premiums are paid, or to the maturity date |
      type: string
      enum:
        - 401A
        - 401K
        - 403B
        - '529'
        - ANNUITY
        - AUTOLOAN
        - BROKERAGEPRODUCT
        - CD
        - CHARGE
        - CHECKING
        - COMMERCIALDEPOSIT
        - COMMERCIALINVESTMENT
        - COMMERCIALLINEOFCREDIT
        - COMMERCIALLOAN
        - COVERDELL
        - CREDITCARD
        - DEFERREDPROFITSHARINGPLAN
        - DEFINEDBENEFIT
        - DIGITALASSET
        - ESCROW
        - ESOP
        - FIXEDANNUITY
        - GUARDIAN
        - HOMEEQUITYLOAN
        - HOMELINEOFCREDIT
        - INDIVIDUALPENSIONPLAN
        - INSTALLMENT
        - INSTITUTIONALTRUST
        - INVESTMENTACCOUNT
        - IRA
        - KEOGH
        - LIFEINCOMEFUND
        - LINEOFCREDIT
        - LOAN
        - LOCKEDINRETIREMENTACCOUNT
        - LOCKEDINRETIREMENTINCOMEFUND
        - LOCKEDINRETIREMENTSAVINGSPLAN
        - LONGTERMDISABILITY
        - MILITARYLOAN
        - MONEYMARKET
        - MORTGAGE
        - NONQUALIFIEDPLAN
        - OTHERDEPOSIT
        - OTHERINVESTMENT
        - PERSONALLOAN
        - POOLEDREGISTEREDPENSIONPLAN
        - PRESCRIBEDREGISTEREDRETIREMENTINCOMEFUND
        - REGISTEREDDISABILITYSAVINGSPLAN
        - REGISTEREDEDUCATIONSAVINGSPLAN
        - REGISTEREDPENSIONPLAN
        - REGISTEREDRETIREMENTINCOMEFUND
        - REGISTEREDRETIREMENTSAVINGSPLAN
        - RESTRICTEDLIFEINCOMEFUND
        - RESTRICTEDLOCKEDINSAVINGSPLAN
        - ROLLOVER
        - ROTH
        - SARSEP
        - SAVINGS
        - SHORTTERMDISABILITY
        - SMBLOAN
        - SPECIFIEDPENSIONPLAN
        - STUDENTLOAN
        - TAXABLE
        - TAXFREESAVINGSACCOUNT
        - TDA
        - TERM
        - TRUST
        - UGMA
        - UNIVERSALLIFE
        - UTMA
        - VARIABLEANNUITY
        - WHOLELIFE

    AccountHolder:
      title: Account Holder entity
      description: >-
        Extends `Customer` and adds a `relationship` field to define the customer's
        relationship with an account
      type: object
      allOf:
        - $ref: '#/components/schemas/Customer'
        - type: object
          properties:
            relationship:
              $ref: '#/components/schemas/AccountHolderRelationship'
              # description: "Customer's relationship to the account"

    AccountHolderRelationship:
      title: Account Holder Relationship
      description: Types of relationships between accounts and holders. Suggested values
      type: string
      enum:
        - AUTHORIZED_USER
        - BUSINESS
        - FOR_BENEFIT_OF
        - FOR_BENEFIT_OF_PRIMARY
        - FOR_BENEFIT_OF_PRIMARY_JOINT_RESTRICTED
        - FOR_BENEFIT_OF_SECONDARY
        - FOR_BENEFIT_OF_SECONDARY_JOINT_RESTRICTED
        - FOR_BENEFIT_OF_SOLE_OWNER_RESTRICTED
        - POWER_OF_ATTORNEY
        - PRIMARY
        - PRIMARY_BORROWER
        - PRIMARY_JOINT
        - PRIMARY_JOINT_TENANTS
        - SECONDARY
        - SECONDARY_BORROWER
        - SECONDARY_JOINT
        - SECONDARY_JOINT_TENANTS
        - SOLE_OWNER
        - TRUSTEE
        - UNIFORM_TRANSFER_TO_MINOR
        -
    Customer:
      title: Customer entity
      description: Represents a customer
      type: object
      allOf:
        - $ref: '#/components/schemas/Person'
        - type: object
          properties:
            customerId:
              $ref: '#/components/schemas/Identifier'
              # description: >-
              #   Long-term persistent identity of the customer.
              #   This identity must be unique to the owning institution
            type:
              $ref: '#/components/schemas/BusinessOrConsumer'
              # description: Type of entity. One of BUSINESS or CONSUMER
            name:
              $ref: '#/components/schemas/CustomerName'
              # description: The customer's name
            businessCustomer:
              $ref: '#/components/schemas/BusinessCustomer'
              # description: The business customer information, only used if 'type' is 'BUSINESS'.
            customerStartDate:
              $ref: '#/components/schemas/DateString'
              # description: The customer's start date at the financial institution
            lastActivityDate:
              $ref: '#/components/schemas/DateString'
              # description: The customer's date of last account activity at the financial institution
            accounts:
              type: array
              items:
                $ref: '#/components/schemas/CustomerToAccountRelationship'
              description: List of accounts related to this customer

    CustomerToAccountRelationship:
      title: Customer to Account Relationship entity
      description: Describes an account related to a customer
      type: object
      properties:
        accountId:
          $ref: '#/components/schemas/Identifier'
          # description: Account ID of the related account
        links:
          $ref: '#/components/schemas/HateoasLinks'
          # description: Links to the account, or to invoke other APIs
        relationship:
          $ref: '#/components/schemas/AccountHolderRelationship'
          # description: Type of relationship to the account

    HateoasLinks:
      title: HATEOAS Links array
      description: Links relative to this containing entity
      type: array
      items:
        $ref: '#/components/schemas/HateoasLink'

    BusinessCustomer:
      title: Business Customer entity
      description: Customers that are commercial in nature are affiliated with a business entity
      type: object
      properties:
        name:
          type: string
          description: Name of business customer
        registeredAgents:
          type: array
          items:
            $ref: '#/components/schemas/CustomerName'
          description: A list of registered agents who act on behalf of the business customer
        registeredId:
          type: string
          description: The registered tax identification number (TIN) or other identifier of business customer
        industryCode:
          $ref: '#/components/schemas/IndustryCode'
          # description: Industry code and type
        domicile:
          $ref: '#/components/schemas/Domicile'
          # description: The country and region of the business customer's location

    IndustryCode:
      title: Industry code
      description: Industry code and type
      type: object
      properties:
        type:
          $ref: '#/components/schemas/IndustryClassificationSystem'
          # description: Code type
        code:
          type: string
          description: Code value

    IndustryClassificationSystem:
      title: Industry Classification System
      description: >-
        The Industry Classification System containing the industry code for customer.

          | Value | Description |
          |-----|-----|
          | BCLASS | [Bloomberg Classification System](https://www.bloomberg.com/professional/product/reference-data/) |
          | BICS | [Bloomberg Industry Classification System](https://www.bloomberg.com/professional/product/reference-data/) |
          | GICS | [Global Industry Classification System](https://www.msci.com/our-solutions/indexes/gics) |
          | MOODYS | Moody's Industry Classification |
          | NAICS | [North American Industry Classification System](https://www.naics.com) |
          | OTHER | Any other set of industry classification codes |
          | SIC | [Standard Industry Classification system](https://www.osha.gov/pls/imis/sicsearch.html) |
      type: string
      enum:
        - BCLASS
        - BICS
        - GICS
        - MOODYS
        - NAICS
        - OTHER
        - SIC

    BusinessOrConsumer:
      title: Business or Consumer Type
      description: Indicator if parent entity is a consumer or business
      type: string
      enum:
        - BUSINESS
        - CONSUMER

    CustomerName:
      title: Customer Name entity
      description: The name of an individual in their role as a customer
      type: object
      allOf:
        - $ref: '#/components/schemas/IndividualName'
        - type: object
          properties:
            prefix:
              description: Name prefix, e.g. Mr.
              type: string
            company:
              type: string
              description: Company name

    IndividualName:
      title: Individual name
      description: First name, middle initial, last name, suffix fields
      type: object
      properties:
        first:
          description: First name
          type: string
        middle:
          description: Middle initial
          type: string
        last:
          description: Last name
          type: string
        suffix:
          description: Generational or academic suffix
          type: string

    Person:
      title: Person entity
      description: Represents a person
      type: object
      allOf:
        - $ref: '#/components/schemas/Contacts'
        - type: object
          properties:
            dateOfBirth:
              $ref: '#/components/schemas/DateString'
              # description: The person's date of birth
            taxId:
              type: string
              description: Country specific Tax Id associated with this customer
                (SIN or NAS in Canada, SSN or TIN in US, etc.)
            taxIdCountry:
              $ref: '#/components/schemas/Iso3166CountryCode'
              # description: Country originating the Customer's taxId element
            governmentId:
              type: string
              description: >-
                A federal (such as passport) or state (such as driver's license)
                issued identifier

    AccountPaymentNetwork:
      title: Payment Network Supported by Account
      description: This provides details required to execute a transaction against the account
        within the payment network
      type: object
      properties:
        bankId:
          type: string
          description: Bank identifier used by the payment network ie. Routing Number
        identifier:
          type: string
          description: >-
            The number used to identify the account within the payment network.
            If identifierType is ACCOUNT_NUMBER, this is the account number;
            if identifierType is TOKENIZED_ACCOUNT_NUMBER, this is a tokenized account number
        identifierType:
          $ref: '#/components/schemas/PaymentNetworkIdentifierType'
          # description: Type of identifier, ACCOUNT_NUMBER or TOKENIZED_ACCOUNT_NUMBER
        type:
          $ref: '#/components/schemas/PaymentNetworkType'
          # description: Type of Canadian or U.S. payment network,
          #   CA_ACSS, CA_LVTS, US_ACH, US_CHIPS, US_FEDWIRE, US_RTP
        transferIn:
          type: boolean
          description: Can transfer funds to the account using this information
        transferOut:
          type: boolean
          description: Can transfer funds from the account using this information
        supportsRequestForPayment:
          type: boolean
          description: Can receive Request for Payments
        transferLimits:
          # description: The amount limits for transfers
          $ref: '#/components/schemas/TransferLimits'

    AccountPaymentNetworkList:
      title: Array of account payment networks
      description: An optionally paginated array of payment networks supported by the account
      type: object
      allOf:
        - $ref: '#/components/schemas/PaginatedArray'
        - type: object
          properties:
            paymentNetworks:
              type: array
              items:
                $ref: '#/components/schemas/AccountPaymentNetwork'
              description: Array of payment networks

    Accounts:
      title: Accounts entity
      description: An optionally paginated array of accounts
      type: object
      allOf:
        - $ref: '#/components/schemas/PaginatedArray'
        - type: object
          properties:
            accounts:
              type: array
              description: >-
                An array of accounts with entity types dependent on the
                account type (deposit, investment, loan, line of credit,
                annuity, insurance, or commercial)
              items:
                $ref: '#/components/schemas/AccountWithDetails'

    PaginatedArray:
      title: Paginated Array
      description: Base class for results that may be paginated
      type: object
      properties:
        page:
          $ref: '#/components/schemas/PageMetadata'
          # description: Offset IDs for navigating result sets
        links:
          $ref: '#/components/schemas/PageMetadataLinks'
          # description: Resource URLs for navigating result sets

    PageMetadata:
      title: Page Metadata
      description: Offset IDs for paginated result sets
      type: object
      properties:
        nextOffset:
          type: string
          # examples:
          #   - "2"
          # description: Opaque identifier. Does not need to be numeric or have any specific pattern.
          #   Implementation specific
        prevOffset:
          type: string
          # examples:
          #   - "1"
          # description: Opaque identifier. Does not need to be numeric or have any specific pattern.
          #   Implementation specific
        totalElements:
          type: integer
          # examples:
          #   - 3
          # description: Total number of elements

    PageMetadataLinks:
      title: Page Metadata Links
      description: Resource URLs for retrieving next or previous datasets
      type: object
      properties:
        next:
          $ref: '#/components/schemas/HateoasLink'
          # description: Resource URL for retrieving next dataset
        prev:
          $ref: '#/components/schemas/HateoasLink'
          # description: Resource URL for retrieving previous dataset

    HateoasLink:
      title: HATEOAS Link
      description: REST application constraint (Hypermedia As The Engine Of Application State)
      required: [href]
      type: object
      properties:
        href:
          type: string
          format: uri-reference
          # description: URL to invoke the action on the resource
          # examples:
          #   - "https://api.fi.com/fdx/v4/accounts/12345"
        action:
          # description: HTTP Method to use for the request
          $ref: '#/components/schemas/HttpAction'
        rel:
          description: >-
            Relation of this link to its containing entity, as defined by and with many
            example relation values at [IETF RFC5988](https://datatracker.ietf.org/doc/html/rfc5988)
          type: string
        types:
          type: array
          items:
            $ref: '#/components/schemas/ContentTypes'
          description: Content-types that can be used in the Accept header

    HttpAction:
      title: HTTP Action Type
      description: HTTP Methods to use for requests
      type: string
      enum:
        - DELETE
        - GET
        - PATCH
        - POST
        - PUT

    ContentTypes:
      title: Content Types
      description: Types of document formats. (Suggested values)
      type: string
      enum:
        - application/json
        - application/pdf
        - application/zip
        - image/gif
        - image/jpeg
        - image/png
        - image/tiff

    AccountWithDetails:
      title: Account With Details entity
      description: An instance of an account with full details
      type: object
      discriminator:
        propertyName: accountCategory
        mapping:
          ANNUITY_ACCOUNT: '#/components/schemas/AnnuityAccount'
          COMMERCIAL_ACCOUNT: '#/components/schemas/CommercialAccount'
          DEPOSIT_ACCOUNT: '#/components/schemas/DepositAccount'
          INSURANCE_ACCOUNT: '#/components/schemas/InsuranceAccount'
          INVESTMENT_ACCOUNT: '#/components/schemas/InvestmentAccount'
          LOAN_ACCOUNT: '#/components/schemas/LoanAccount'
          LOC_ACCOUNT: '#/components/schemas/LineOfCreditAccount'
      oneOf:
        - $ref: '#/components/schemas/AnnuityAccount'
        - $ref: '#/components/schemas/CommercialAccount'
        - $ref: '#/components/schemas/DepositAccount'
        - $ref: '#/components/schemas/InsuranceAccount'
        - $ref: '#/components/schemas/InvestmentAccount'
        - $ref: '#/components/schemas/LineOfCreditAccount'
        - $ref: '#/components/schemas/LoanAccount'

    AnnuityAccount:
      title: Annuity Account entity
      description: An annuity account type
      type: object
      allOf:
        - $ref: '#/components/schemas/Account'
        - type: object
          properties:
            payoutType:
              $ref: '#/components/schemas/PayoutType'
              # description: Indicates type of payout such as immediate or deferred
            policyProductType:
              $ref: '#/components/schemas/PolicyProductType'
              # description: The type of annuity product, e.g. Fixed or Variable
            payoutAmount:
              type: number
              # description: Amount paid out, based on mode frequency
            payoutMode:
              $ref: '#/components/schemas/PayoutMode'
              # description: Frequency of annuity payments
            payoutStartDate:
              $ref: '#/components/schemas/DateString'
              # description: Date the payout starts
            payoutEndDate:
              $ref: '#/components/schemas/DateString'
              # description: Date the payout ends
            numberModalPayouts:
              type: integer
              # description: Total number of payouts
            surrenderValue:
              type: number
              # description: Cash surrender value (net) available if contract is surrendered
            payoutChangePercentage:
              type: number
              # description: Percentage of the accumulated value to be paid to the payee each year; used exclusive of payoutChangeAmount
            payoutChangeAmount:
              type: number
              # description: Incremental modal amount (positive or negative) by which the payout amount will be changed; used exclusive of payoutPercentage
            periodCertainType:
              $ref: '#/components/schemas/PeriodCertainType'
              # description: The number of modal periods comprising the duration of the certain period of an annuity payout

    AssetTransferNetwork:
      title: Asset Transfer Network
      description: Information required to facilitate asset transfer from this account
      type: object
      properties:
        identifier:
          type: string
          description: >-
            The number used to identify the account within the asset transfer network.
            If identifierType is ACCOUNT_NUMBER, this is the account number;
            if identifierType is TOKENIZED_ACCOUNT_NUMBER, this is a tokenized account number
        identifierType:
          # description: Type of identifier
          $ref: '#/components/schemas/PaymentNetworkIdentifierType'
        institutionName:
          description: The name of the institution holding the account
          type: string
        institutionId:
          description: >-
            Institution identifier used by the asset transfer network ie. the Depository Trust and
            Clearing Corporation code for the institution holding the account
          type: string
        type:
          # description: Type of asset transfer
          $ref: '#/components/schemas/AssetTransferType'
        jointAccount:
          description: Whether this account has joint owners
          type: boolean

    AssetTransferNetworkList:
      title: Asset Transfer Network List
      description: An array of asset transfer network details for this account
      type: object
      properties:
        assetTransferNetworks:
          description: Array of asset transfer networks
          type: array
          items:
            $ref: '#/components/schemas/AssetTransferNetwork'

    Bills:
      title: Bills entity
      description: The payments due on an account
      type: object
      properties:
        totalPaymentDue:
          type: number
          description: >-
            Total payment due or next payment due.  Monthly payment due for loans
        minimumPaymentDue:
          type: number
          description: The minimum amount which is due
        dueDate:
          $ref: '#/components/schemas/DateString'
          # description: The date that the payment is due
        autoPayEnabled:
          type: boolean
          description: Whether the user's bill is paid automatically
[...]
